# Python - Strings

## 1. String operations

Concetanation

In [1]:
a = "Hello"
b = "World"
print(a+" "+b)

Hello World

In [3]:
c = "over"
d = "the"
e = "rainbow"
com = " ".join([a,b,c,d,e])
com

'Hello World over the rainbow'

Splitting strings

In [7]:
com.split(" ")

['Hello', 'World', 'over', 'the', 'rainbow']

In [8]:
# whitespace is default
com.split()

['Hello', 'World', 'over', 'the', 'rainbow']

Stripping trailing or leading whitespaces

In [9]:
f = " Hello World "
f

In [11]:
f.strip()

'Hello World'

In [12]:
f.rstrip()

' Hello World'

In [13]:
f.lstrip()

'Hello World '

Removing case-sensitivity by lowering all characters

In [15]:
"Bird".startswith("i")

False

In [18]:
"India".startswith("i")

False

In [21]:
g = ["India", "ice", "Hund", "iris", "Vogel"]

words_with_i = []
for word in g:
    if word.lower().startswith("i"):
        words_with_i.append(word)
        
words_with_i

['India', 'ice', 'iris']

Replace characters

In [25]:
h = "'Is it any wonder?'"
print(h)

'Is it any wonder?'

In [26]:
print("\"Is it any wonder?\"")

"Is it any wonder?"

In [29]:
print(h.replace("'",'"'))

"Is it any wonder?"

In [30]:
text = "Hello, World. Who? Me!"
text

'Hello, World. Who? Me!'

In [37]:
clean = (text
         .replace(",","")
         .replace(".","")
         .replace("?","")
         .replace("!",""))
clean

'Hello World Who Me'

In [38]:
signs = ",.?!"

t = text
for char in signs:
    t = t.replace(char,"")
t

'Hello World Who Me'

Removing characters by identifying patterns.

Remove the last character of each 'word'

In [40]:
text.split(" ")

['Hello,', 'World.', 'Who?', 'Me!']

In [41]:
"Instance-"[:-1]

'Instance'

In [43]:
words_only = []
for word in text.split(" "):
    words_only.append(word[:-1])
    
" ".join(words_only)

'Hello World Who Me'

Using regex

In [44]:
import re

In [48]:
word_pattern = r"\w+"
" ".join(re.findall(word_pattern, text))

'Hello World Who Me'

In [49]:
" ".join(re.findall(r"\w+", text))

'Hello World Who Me'

## 2. String interpolation

In [50]:
name = "Whitney Axel"

In [53]:
print(f"Hi, my name is {name}")

Hi, my name is Whitney Axel

In [55]:
print(f"Hi, my name is {name + '!'}")

Hi, my name is Whitney Axel!

In [56]:
name = "Britney Houston"

In [57]:
print(f"Hi, my name is {name}")

Hi, my name is Britney Houston

In [59]:
print(f"Hi, my names are {name*5}")

Hi, my names are Britney HoustonBritney HoustonBritney HoustonBritney HoustonBritney Houston

Given some table:

| name | fruit | quantity |
|------|-------|----------|
| TC | Lemon | 7000 |
| Ilse | Apple | 1 |
| Ana | Passionfruit | 10 |
| Alejandro | Mango | 33 |

In [65]:
fruits = [{"name": "TC",
           "fruit": "Lemon",
           "quantity": 7000},
          {"name": "Ilse",
           "fruit": "Apple",
           "quantity": 1},
          {"name": "Ana",
           "fruit": "Passionfruit",
           "quantity": 10},
          {"name": "Alejandro",
           "fruit": "Mango",
           "quantity": 33}]

In [66]:
fruits

[{'name': 'TC', 'fruit': 'Lemon', 'quantity': 7000},
 {'name': 'Ilse', 'fruit': 'Apple', 'quantity': 1},
 {'name': 'Ana', 'fruit': 'Passionfruit', 'quantity': 10},
 {'name': 'Alejandro', 'fruit': 'Mango', 'quantity': 33}]

In [70]:
for student in fruits:
    print(f"{student['name']} has {student['quantity']} {student['fruit']}.")

TC has 7000 Lemon.
Ilse has 1 Apple.
Ana has 10 Passionfruit.
Alejandro has 33 Mango.

Add control flow for plural, using a ternary operator

In [72]:
a = 10
print("singular" if a == 1 else "plural")

plural

In [76]:
for student in fruits:
    print(f"{student['name']} has {student['quantity']} {student['fruit']}\
{'s' if student['quantity'] > 1 else ''}.")

TC has 7000 Lemons.
Ilse has 1 Apple.
Ana has 10 Passionfruits.
Alejandro has 33 Mangos.

In [82]:
for student in fruits:
    print(f"""{student['name']} has {student['quantity']} {student['fruit']}
{'s' if student['quantity'] > 1 else ''}.""")

TC has 7000 Lemon
s.
Ilse has 1 Apple
.
Ana has 10 Passionfruit
s.
Alejandro has 33 Mango
s.

Exercise: Use `str.format()`

### 2.1. Using string interpolation to debug

Iterating over a dictionary

In [94]:
ex = {"tree": "leaf",
      "legume": "lentil",
      "operating system": "mac",
      "animal": "panda"}

In [99]:
ex["operating system"]

'mac'

In [95]:
type(ex)

dict

In [96]:
ex

{'tree': 'leaf',
 'legume': 'lentil',
 'operating system': 'mac',
 'animal': 'panda'}

In [88]:
for i in [9,8,7]:
    print(i)

9
8
7

In [98]:
i = 1
for entry in ex:
    print(f"This is the {i}. iteration")
    i += 1
    print(f"entry is of type {type(entry)}")
    print(entry)
    print(f"The value is: {ex[entry]}")
    print("---------------------\n")

This is the 1. iteration
entry is of type <class 'str'>
tree
The value is: leaf
---------------------

This is the 2. iteration
entry is of type <class 'str'>
legume
The value is: lentil
---------------------

This is the 3. iteration
entry is of type <class 'str'>
operating system
The value is: mac
---------------------

This is the 4. iteration
entry is of type <class 'str'>
animal
The value is: panda
---------------------

Alternatively:

In [100]:
ex.items()

dict_items([('tree', 'leaf'), ('legume', 'lentil'), ('operating system', 'mac'), ('animal', 'panda')])

In [102]:
type(ex.items())

dict_items

In [101]:
list(ex.items())

[('tree', 'leaf'),
 ('legume', 'lentil'),
 ('operating system', 'mac'),
 ('animal', 'panda')]

In [103]:
for entry in ex.items():
    print(entry)

('tree', 'leaf')
('legume', 'lentil')
('operating system', 'mac')
('animal', 'panda')

In [106]:
fish = (1,2)
print(fish[0])
print(fish[1])

1
2

In [107]:
for entry in ex.items():
    print(f"The key is: {entry[0]}")
    print(f"It's value is: {entry[1]}")

The key is: tree
It's value is: leaf
The key is: legume
It's value is: lentil
The key is: operating system
It's value is: mac
The key is: animal
It's value is: panda

Using tuple decomposition / tuple unpacking

In [108]:
fish

(1, 2)

In [109]:
first_fish, second_fish = fish

In [115]:
t = ("x", "y", "z")
a = t[0]
b = t[1]
c = t[2]
print(f"{a}, {b}, {c}")

x, y, z

In [116]:
a, b, c = t
print(f"{a}, {b}, {c}")

x, y, z

In [110]:
print(first_fish)
print(second_fish)

1
2

In [111]:
for key, value in ex.items():
    print(f"The key is {key}")
    print(f"It's value is {value}")

The key is tree
It's value is leaf
The key is legume
It's value is lentil
The key is operating system
It's value is mac
The key is animal
It's value is panda

In [118]:
u = ["x", "y", "z"]
d = u[0]
e = u[1]
f = u[2]
print(f"{d}, {e}, {f}")

x, y, z