# Data processing
(pure python)

## 1. Load csv file

csv: comma-separated values

-> A text-file with comma-separated values

In [1]:
import csv

In [5]:
data = []
with open("data/Sacramentorealestatetransactions.csv", "r") as csvfile:
    real_estate_data = csv.DictReader(csvfile, delimiter=",")
    i = 0
    for row in real_estate_data:
        print(dict(row))
        print("------------\n")
        if i == 3:
            break
        i+=1

{'street': '3526 HIGH ST', 'city': 'SACRAMENTO', 'zip': '95838', 'state': 'CA', 'beds': '2', 'baths': '1', 'sq__ft': '836', 'type': 'Residential', 'sale_date': 'Wed May 21 00:00:00 EDT 2008', 'price': '59222', 'latitude': '38.631913', 'longitude': '-121.434879'}
------------

{'street': '51 OMAHA CT', 'city': 'SACRAMENTO', 'zip': '95823', 'state': 'CA', 'beds': '3', 'baths': '1', 'sq__ft': '1167', 'type': 'Residential', 'sale_date': 'Wed May 21 00:00:00 EDT 2008', 'price': '68212', 'latitude': '38.478902', 'longitude': '-121.431028'}
------------

{'street': '2796 BRANCH ST', 'city': 'SACRAMENTO', 'zip': '95815', 'state': 'CA', 'beds': '2', 'baths': '1', 'sq__ft': '796', 'type': 'Residential', 'sale_date': 'Wed May 21 00:00:00 EDT 2008', 'price': '68880', 'latitude': '38.618305', 'longitude': '-121.443839'}
------------

{'street': '2805 JANETTE WAY', 'city': 'SACRAMENTO', 'zip': '95815', 'state': 'CA', 'beds': '2', 'baths': '1', 'sq__ft': '852', 'type': 'Residential', 'sale_date': 'Wed May 21 00:00:00 EDT 2008', 'price': '69307', 'latitude': '38.616835', 'longitude': '-121.439146'}
------------

In [13]:
data = []
with open("data/Sacramentorealestatetransactions.csv", "r") as csvfile:
    real_estate_data = csv.DictReader(csvfile, delimiter=",")
    for row in real_estate_data:
        data.append(dict(row))

In [10]:
type(data)

list

In [11]:
type(data[0])

dict

In [14]:
data[:3]

[{'street': '3526 HIGH ST',
  'city': 'SACRAMENTO',
  'zip': '95838',
  'state': 'CA',
  'beds': '2',
  'baths': '1',
  'sq__ft': '836',
  'type': 'Residential',
  'sale_date': 'Wed May 21 00:00:00 EDT 2008',
  'price': '59222',
  'latitude': '38.631913',
  'longitude': '-121.434879'},
 {'street': '51 OMAHA CT',
  'city': 'SACRAMENTO',
  'zip': '95823',
  'state': 'CA',
  'beds': '3',
  'baths': '1',
  'sq__ft': '1167',
  'type': 'Residential',
  'sale_date': 'Wed May 21 00:00:00 EDT 2008',
  'price': '68212',
  'latitude': '38.478902',
  'longitude': '-121.431028'},
 {'street': '2796 BRANCH ST',
  'city': 'SACRAMENTO',
  'zip': '95815',
  'state': 'CA',
  'beds': '2',
  'baths': '1',
  'sq__ft': '796',
  'type': 'Residential',
  'sale_date': 'Wed May 21 00:00:00 EDT 2008',
  'price': '68880',
  'latitude': '38.618305',
  'longitude': '-121.443839'}]

Tasks:

- I. Capitalize 'city'
- II. turn 'zip', 'beds', 'baths', 'sq__ft', 'price' into `int`
- III. turn 'latitude' and 'longitude' into `float`
- IV. rename 'sq__ft' to 'sq_ft'
- V. turn 'sale_date' into a 'YYYY-MM-DD' format

## 2. Make all those tasks work on 1 observation

In [17]:
sample = data[4]

### I. Capitalize 'city'

In [20]:
sample["city"].capitalize()

'Sacramento'

### II. turn 'zip' into `int`

In [22]:
int(sample["zip"])

95824

### II.1 turn the rest into `int`

In [23]:
to_int = ["zip", "beds", "baths", "sq__ft", "price"]

# using list comprehension
[int(sample[column]) for column in to_int]

[95824, 2, 1, 797, 81900]

In [25]:
# using dict comprehension
{column: int(sample[column]) for column in to_int}

{'zip': 95824, 'beds': 2, 'baths': 1, 'sq__ft': 797, 'price': 81900}

### III. turn geocoordinates to `float`

In [27]:
to_float = ["latitude", "longitude"]

# using dict comprehension
{col: float(sample[col]) for col in to_float}

{'latitude': 38.51947, 'longitude': -121.435768}

### IV. rename 'sq__ft' to 'sq_ft'

General: Replace all occurences of "__" with "_"

In [28]:
# accessing keys of a dictionary
sample.keys()

dict_keys(['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq__ft', 'type', 'sale_date', 'price', 'latitude', 'longitude'])

In [29]:
list(sample.keys())

['street',
 'city',
 'zip',
 'state',
 'beds',
 'baths',
 'sq__ft',
 'type',
 'sale_date',
 'price',
 'latitude',
 'longitude']

In [31]:
"__" in "ban__abba"

True

In [34]:
[col.replace("__","_") for col in sample.keys()]

['street',
 'city',
 'zip',
 'state',
 'beds',
 'baths',
 'sq_ft',
 'type',
 'sale_date',
 'price',
 'latitude',
 'longitude']

### V. turn 'sale_date' into 'YYYY-MM-DD' representation

In [44]:
date = sample["sale_date"]
date

'Wed May 21 00:00:00 EDT 2008'

#### V.I. extract year

In [46]:
import re

In [52]:
year_pattern = r"\d{4}$"
re.findall(year_pattern, date)[0]

'2008'

In [53]:
year, = re.findall(year_pattern, date)

In [51]:
a, = [1,2]

ValueError: too many values to unpack (expected 1)

In [91]:
year

'2008'

In [55]:
year_pattern = r"\d{4}\Z"
re.findall(year_pattern, date)[0]

'2008'

#### V.II. extract month

In [59]:
example = r"\w{3}"
re.findall(example, date)

['Wed', 'May', 'EDT', '200']

In [62]:
month_pattern = r"^\w{3}\s(\w{3})\s"
re.findall(month_pattern, date)[0]

'May'

translate string months to month number (MM)

In [64]:
month_dict = {"Jan": "01",
              "Feb": "02",
              "Mar": "03",
              "Apr": "04",
              "May": "05"}

month_dict[re.findall(month_pattern, date)[0]]

'05'

In [66]:
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
months

['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [73]:
"0" + str(months.index("Jan") + 1)

'01'

In [77]:
re.findall(month_pattern, date)[0]

'May'

In [78]:
month_number = months.index(re.findall(month_pattern, date)[0]) + 1

In [79]:
month_number

5

In [84]:
# ternary operator
"0" if month_number < 10 else "" + str(month_number)

'0'

In [93]:
month_no = ("0" if month_number < 10 else "") + str(month_number)

#### V.III. extract day

In [85]:
date

'Wed May 21 00:00:00 EDT 2008'

In [88]:
day_pattern = r"^.{8}(\d+)\s"
day = re.findall(day_pattern, date)[0]

In [89]:
day

'21'

#### V.IV. Putting them together

In [92]:
month_number

5

In [94]:
year+"-"+month_no+"-"+day

'2008-05-21'

### 3. Create a function for parsing dates

In [97]:
date

'Wed May 21 00:00:00 EDT 2008'

In [98]:
def extract_year(date_string):
    year_pattern = r"\d{4}$"
    year, = re.findall(year_pattern, date_string)
    return year

In [99]:
extract_year(date)

'2008'

In [100]:
def extract_day(date_string):
    day_pattern = r"^.{8}(\d+)\s"
    day, = re.findall(day_pattern, date_string)
    return day

In [101]:
extract_day(date)

'21'

In [102]:
def extract_month(date_string):
    month_pattern = r"^\w{3}\s(\w{3})\s"
    month_string, = re.findall(month_pattern, date_string)
    
    # translate string to MM representation
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    month_number = months.index(month_string) + 1
    month_no = ("0" if month_number < 10 else "") + str(month_number)
    return month_no

In [103]:
extract_month(date)

'05'

In [104]:
def extract_date(date_string):
    return "-".join([extract_year(date_string), extract_month(date_string), extract_day(date_string)])

In [105]:
extract_date(date)

'2008-05-21'

## 4. Create a function that processes a row

In [106]:
sample

{'street': '6001 MCMAHON DR',
 'city': 'SACRAMENTO',
 'zip': '95824',
 'state': 'CA',
 'beds': '2',
 'baths': '1',
 'sq__ft': '797',
 'type': 'Residential',
 'sale_date': 'Wed May 21 00:00:00 EDT 2008',
 'price': '81900',
 'latitude': '38.51947',
 'longitude': '-121.435768'}

create a dictionary that applies a function to the corresponding key (column)

In [107]:
conversions = {"city": lambda x: x.capitalize(),
               "zip": lambda x: int(x),
               "beds": lambda x: int(x),
               "price": lambda x: int(x),
               "baths": lambda x: int(x),
               "sq__ft": lambda x: int(x),
               "latitude": lambda x: float(x),
               "longitude": lambda x: float(x),
               "sale_date": extract_date,}

In [113]:
conversions = {"city": lambda x: x.capitalize(),
               "zip": int,
               "beds": int,
               "price": int,
               "baths": int,
               "sq__ft": int,
               "latitude": float,
               "longitude": float,
               "sale_date": extract_date,}

In [108]:
sample

{'street': '6001 MCMAHON DR',
 'city': 'SACRAMENTO',
 'zip': '95824',
 'state': 'CA',
 'beds': '2',
 'baths': '1',
 'sq__ft': '797',
 'type': 'Residential',
 'sale_date': 'Wed May 21 00:00:00 EDT 2008',
 'price': '81900',
 'latitude': '38.51947',
 'longitude': '-121.435768'}

In [114]:
new_row = {}

for key, value in sample.items():
    if key in conversions:
        new_row[key] = conversions[key](value)
    else:
        new_row[key] = value

In [115]:
new_row

{'street': '6001 MCMAHON DR',
 'city': 'Sacramento',
 'zip': 95824,
 'state': 'CA',
 'beds': 2,
 'baths': 1,
 'sq__ft': 797,
 'type': 'Residential',
 'sale_date': '2008-05-21',
 'price': 81900,
 'latitude': 38.51947,
 'longitude': -121.435768}

In [120]:
conversions = {"city": lambda x: x.capitalize(),
               "zip": int,
               "beds": int,
               "price": int,
               "baths": int,
               "sq__ft": int,
               "latitude": float,
               "longitude": float,
               "sale_date": extract_date,}

def process_row(row, conversion_mapping):
    new_row = {}

    for key, value in row.items():
        if key in conversion_mapping:
            new_row[key.replace("__","_")] = conversion_mapping[key](value)
        else:
            new_row[key.replace("__","_")] = value
            
    return new_row

In [121]:
process_row(sample, conversions)

{'street': '6001 MCMAHON DR',
 'city': 'Sacramento',
 'zip': 95824,
 'state': 'CA',
 'beds': 2,
 'baths': 1,
 'sq_ft': 797,
 'type': 'Residential',
 'sale_date': '2008-05-21',
 'price': 81900,
 'latitude': 38.51947,
 'longitude': -121.435768}

## 5. Process all rows

In [123]:
data[:3]

[{'street': '3526 HIGH ST',
  'city': 'SACRAMENTO',
  'zip': '95838',
  'state': 'CA',
  'beds': '2',
  'baths': '1',
  'sq__ft': '836',
  'type': 'Residential',
  'sale_date': 'Wed May 21 00:00:00 EDT 2008',
  'price': '59222',
  'latitude': '38.631913',
  'longitude': '-121.434879'},
 {'street': '51 OMAHA CT',
  'city': 'SACRAMENTO',
  'zip': '95823',
  'state': 'CA',
  'beds': '3',
  'baths': '1',
  'sq__ft': '1167',
  'type': 'Residential',
  'sale_date': 'Wed May 21 00:00:00 EDT 2008',
  'price': '68212',
  'latitude': '38.478902',
  'longitude': '-121.431028'},
 {'street': '2796 BRANCH ST',
  'city': 'SACRAMENTO',
  'zip': '95815',
  'state': 'CA',
  'beds': '2',
  'baths': '1',
  'sq__ft': '796',
  'type': 'Residential',
  'sale_date': 'Wed May 21 00:00:00 EDT 2008',
  'price': '68880',
  'latitude': '38.618305',
  'longitude': '-121.443839'}]

In [127]:
clean = [process_row(row, conversions) for row in data]

## 6. Write processed dataset to a csv

In [130]:
clean[0].keys()

dict_keys(['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq_ft', 'type', 'sale_date', 'price', 'latitude', 'longitude'])

In [133]:
with open("data/sacramento_clean.csv", "w") as outfile:
    fieldnames = list(clean[0].keys())
    writer = csv.DictWriter(outfile, fieldnames=fieldnames)
    
    writer.writeheader()
    for row in clean:
        writer.writerow(row)