In [3]:
import pandas as pd
import numpy as np

# Pandas intro

Revisiting the Sacramento Real Estate data processing task from week 1.

Tasks:

- I. Capitalize 'city'
- II. turn 'zip', 'beds', 'baths', 'sq__ft', 'price' into `int`
- III. turn 'latitude' and 'longitude' into `float`
- IV. rename 'sq__ft' to 'sq_ft'
- V. turn 'sale_date' into a 'YYYY-MM-DD' format

In [5]:
df = pd.read_csv("data/Sacramentorealestatetransactions.csv")

In [6]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.head(5)

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [9]:
df["street"]

0             3526 HIGH ST
1              51 OMAHA CT
2           2796 BRANCH ST
3         2805 JANETTE WAY
4          6001 MCMAHON DR
              ...
980     9169 GARLINGTON CT
981        6932 RUSKUT WAY
982      7933 DAFFODIL WAY
983       8304 RED FOX WAY
984    3882 YELLOWSTONE LN
Name: street, Length: 985, dtype: object

In [11]:
type(df["street"])

pandas.core.series.Series

In [13]:
df[["street"]]

                  street
0           3526 HIGH ST
1            51 OMAHA CT
2         2796 BRANCH ST
3       2805 JANETTE WAY
4        6001 MCMAHON DR
..                   ...
980   9169 GARLINGTON CT
981      6932 RUSKUT WAY
982    7933 DAFFODIL WAY
983     8304 RED FOX WAY
984  3882 YELLOWSTONE LN

[985 rows x 1 columns]

In [14]:
type(df[["street"]])

pandas.core.frame.DataFrame

In [17]:
type(df.street)

pandas.core.series.Series

Try to avoid using class instance variables. Instead, use:
df["street name"] to access columns as Series objects


## IV. rename 'sq__ft' to 'sq_ft'

In [20]:
# create a copy that we can mess up
df_clean = df.copy()

In [21]:
df_clean.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [22]:
# access column labels
df_clean.columns

Index(['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq__ft', 'type',
       'sale_date', 'price', 'latitude', 'longitude'],
      dtype='object')

In [23]:
type(df_clean.columns)

pandas.core.indexes.base.Index

In [24]:
list(df_clean.columns)

['street',
 'city',
 'zip',
 'state',
 'beds',
 'baths',
 'sq__ft',
 'type',
 'sale_date',
 'price',
 'latitude',
 'longitude']

In [25]:
[col_name for col_name in df_clean.columns]

['street',
 'city',
 'zip',
 'state',
 'beds',
 'baths',
 'sq__ft',
 'type',
 'sale_date',
 'price',
 'latitude',
 'longitude']

In [26]:
[col_name.replace("__","_") for col_name in df_clean.columns]

['street',
 'city',
 'zip',
 'state',
 'beds',
 'baths',
 'sq_ft',
 'type',
 'sale_date',
 'price',
 'latitude',
 'longitude']

In [28]:
# reassign columns of df_clean
df_clean.columns = [col_name.replace("__","_") for col_name in df_clean.columns]

In [29]:
df_clean.head()

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

## I. Capitalize 'city' (title instead of capitalize)

In [30]:
df_clean["city"]

0           SACRAMENTO
1           SACRAMENTO
2           SACRAMENTO
3           SACRAMENTO
4           SACRAMENTO
            ...
980         SACRAMENTO
981         SACRAMENTO
982     CITRUS HEIGHTS
983          ELK GROVE
984    EL DORADO HILLS
Name: city, Length: 985, dtype: object

In [31]:
df_clean["city"].str.capitalize()

0           Sacramento
1           Sacramento
2           Sacramento
3           Sacramento
4           Sacramento
            ...
980         Sacramento
981         Sacramento
982     Citrus heights
983          Elk grove
984    El dorado hills
Name: city, Length: 985, dtype: object

In [32]:
df_clean["city"].str.title()

0           Sacramento
1           Sacramento
2           Sacramento
3           Sacramento
4           Sacramento
            ...
980         Sacramento
981         Sacramento
982     Citrus Heights
983          Elk Grove
984    El Dorado Hills
Name: city, Length: 985, dtype: object

Re-assign the `city` column with the transformation

In [34]:
df_clean["city"] = df_clean["city"].str.title()

In [35]:
df_clean.head()

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,Sacramento,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,Sacramento,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,Sacramento,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,Sacramento,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,Sacramento,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

## II. turn 'zip', 'beds', 'baths', 'sq__ft', 'price' into int
## III. turn 'latitude' and 'longitude' into float

In [37]:
df_clean.dtypes

street        object
city          object
zip            int64
state         object
beds           int64
baths          int64
sq_ft          int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

- Most of the types were already correctly inferred

## V. turn 'sale_date' into a 'YYYY-MM-DD' format

In [40]:
df_clean["sale_date"].dtypes

dtype('O')

In [41]:
df_clean["sale_date"]

0      Wed May 21 00:00:00 EDT 2008
1      Wed May 21 00:00:00 EDT 2008
2      Wed May 21 00:00:00 EDT 2008
3      Wed May 21 00:00:00 EDT 2008
4      Wed May 21 00:00:00 EDT 2008
                   ...
980    Thu May 15 00:00:00 EDT 2008
981    Thu May 15 00:00:00 EDT 2008
982    Thu May 15 00:00:00 EDT 2008
983    Thu May 15 00:00:00 EDT 2008
984    Thu May 15 00:00:00 EDT 2008
Name: sale_date, Length: 985, dtype: object

In [45]:
pd.to_datetime(df_clean["sale_date"], utc=True)

0     2008-05-21 00:00:00+00:00
1     2008-05-21 00:00:00+00:00
2     2008-05-21 00:00:00+00:00
3     2008-05-21 00:00:00+00:00
4     2008-05-21 00:00:00+00:00
                 ...
980   2008-05-15 00:00:00+00:00
981   2008-05-15 00:00:00+00:00
982   2008-05-15 00:00:00+00:00
983   2008-05-15 00:00:00+00:00
984   2008-05-15 00:00:00+00:00
Name: sale_date, Length: 985, dtype: datetime64[ns, UTC]

In [46]:
type(pd.to_datetime(df_clean["sale_date"], utc=True))

pandas.core.series.Series

In [44]:
pd.to_datetime(df_clean["sale_date"], utc=True).dt.strftime("%Y-%m-%d")

0      2008-05-21
1      2008-05-21
2      2008-05-21
3      2008-05-21
4      2008-05-21
          ...
980    2008-05-15
981    2008-05-15
982    2008-05-15
983    2008-05-15
984    2008-05-15
Name: sale_date, Length: 985, dtype: object

In [47]:
df_clean["sale_date"] = pd.to_datetime(df_clean["sale_date"], utc=True).dt.strftime("%Y-%m-%d")

In [48]:
df_clean.head()

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,Sacramento,95838,CA,2,1,836,Residential,2008-05-21,59222,38.631913,-121.434879
1,51 OMAHA CT,Sacramento,95823,CA,3,1,1167,Residential,2008-05-21,68212,38.478902,-121.431028
2,2796 BRANCH ST,Sacramento,95815,CA,2,1,796,Residential,2008-05-21,68880,38.618305,-121.443839
3,2805 JANETTE WAY,Sacramento,95815,CA,2,1,852,Residential,2008-05-21,69307,38.616835,-121.439146
4,6001 MCMAHON DR,Sacramento,95824,CA,2,1,797,Residential,2008-05-21,81900,38.519470,-121.435768

Recap.

Repeat all the steps

In [49]:
# read data
df_1 = pd.read_csv("data/Sacramentorealestatetransactions.csv")

In [51]:
# replace "__" from columns names
df_1.columns = [col_name.replace("__","_") for col_name in df_1.columns]

In [63]:
# title the city column
df_1["city"] = df_1["city"].str.title()

In [52]:
# types were already correctly inferred
df_1.dtypes

street        object
city          object
zip            int64
state         object
beds           int64
baths          int64
sq_ft          int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

In [59]:
# convert date string into "YYYY-MM-DD"
df_1["sale_date"] = pd.to_datetime(df_1["sale_date"]).dt.strftime("%Y-%m-%d")

In [64]:
df_1.head()

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,Sacramento,95838,CA,2,1,836,Residential,2008-05-21,59222,38.631913,-121.434879
1,51 OMAHA CT,Sacramento,95823,CA,3,1,1167,Residential,2008-05-21,68212,38.478902,-121.431028
2,2796 BRANCH ST,Sacramento,95815,CA,2,1,796,Residential,2008-05-21,68880,38.618305,-121.443839
3,2805 JANETTE WAY,Sacramento,95815,CA,2,1,852,Residential,2008-05-21,69307,38.616835,-121.439146
4,6001 MCMAHON DR,Sacramento,95824,CA,2,1,797,Residential,2008-05-21,81900,38.519470,-121.435768

In [66]:
df_1.to_csv("data/clean_sacramento.csv", index=False)

In [67]:
df_1.to_pickle("data/clean_sacramento.pkl")